
<h1>
<%= user.local.name %>
<small> <%= user.local.location%></small></h1>

<h3>Bio</h3>
<%= user.local.bio %>

<hr>
<h3>Favorite</h3>


<hr>
<h3> <%= user.local.name %> Comments </h3>
<hr>
<a href="/">Surf Report</a>
