<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <title></title>
    </head>
    <body>
<h1>
<%= user.local.name %>
<small> <%= user.local.location%></small></h1>
<h3>Bio</h3>
<div id="bio">
    <input type="textField" id="bio-input" placeholder="Bio">
    <button id="addBio">Submit</button>
    </div>
    <button id="editBio">Edit Bio</button>
<hr>
<h3>Favorites</h3>
<hr>
<h3> <%= user.local.name %> Comments </h3>
<hr>
<a href="/">Surf Report</a>
<% if(loggedIn) { %>
    <a href="/logout">Logout</a>
<% } %>
<script type="text/javascript">
//variables
var userBio = $('#bio-input')
var submitBio = $('#addBio')
var editBio = $('#editBio')
// submit button
submitBio.on('click', function(){
    var resquestSettings = {
        method: 'post',
        url: '/profile',
        data: JSON.stringify({body: userBio.val(), contentType: 'application/json'})
        function callback(d){
            console.log(d)
            populateBioUL()
        }
    }
})
if ($('.localPp').attr("src") || $('.fbPp').attr("src")) {
    $('.amandaBtn').val('Change Picture')
}
</script>
</body>
</html>
