<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgQqZ_n8Tx2utBZ1YSPleml2x2yFMApzY&callback=initialize">
    </script>
    <script src="/APIs/gmaps.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="nav">
    <% if(loggedIn) { %>
	      <a href="/profile"><%= currentUser.local.name %></a>
        <a href="/logout">Logout</a>
    <% } else { %>
	      <a href="/login">Log In</a>
	      <a href="/signup">Sign Up</a>
    <% } %>
    </div>
    <div class='container'>
      <div>
        <h1>The Drop</h1>
      <div class='wrapper'>
        <div id='map'></div>
        <div id='location-list'>
          <ul id='surf-locations'>
          </ul>
        </div>
      </div>
    </div>
    <script>
    var map
    setTimeout(function initialize () {
      map = new GMaps ({
        el: '#map',
        lat: 34.013321,
        lng: -118.500051,
        zoom: 12,
        markers: [
          {lat: 34.013321, lng: -118.500051},
        ]
      });
    }, 800)
    </script>
    <script src="/js/app.js"></script>
  </body>
</html>
