<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title></title>
  </head>
  <body>
    <% include ../public/templates/navbar %>

    <div class='container'>

          <h1>Signup</h1>

          <form action="/signup" method="post">
            <div class="field">
              <div class='control'>
                <input type="text" class="input is-info" name="name" placeholder="Name">
              </div>
            </div>
            <div class="field">
              <div class='control'>
                <input type="text" class="input is-info" name="email" placeholder='Email'>
              </div>
            </div>
            <div class="field">
              <div class='control'>
                <input type="password" class="input is-info" name="password" placeholder='Password'>
              </div>
            </div>
            <div class="field">
              <div class='control'>
                <input type="text" class="input is-info" name="location" placeholder='Location'>
              </div>
            </div>
            <div class="field">
              <div class='control'>
                <input type="text-area" class="input is-info" name="bio" placeholder='Bio'>
              </div>
            </div>


            <button type="submit" class="button is-primary">Signup</button>
          </form>

          <div class='hr'>
            <hr>
          </div>
          <p><a href="/login">Login</a></p>
          <h2>Login With <a href="/auth/facebook" class="btn btn-primary btn-lg">Facebook</a></h2>
          <p>Go back <a href="/">Home</a></p>

    </div>
  </body>
</html>
