<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item nav-surf" href='/'>
      <img src="/images/surficon.png" width="30" height="30"><span id='nav-name'>The Drop</span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-twitter"></i>
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenuExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuExample" class="navbar-menu nav-name">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link  is-active" href="/documentation/overview/start/">
          Info
        </a>
        <div class="navbar-dropdown ">
          <a class="navbar-item " href="/documentation/overview/start/">
            Overview
          </a>
          <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
            Modifiers
          </a>
          <a class="navbar-item " href="http://bulma.io/documentation/grid/columns/">
            Grid
          </a>
          <hr class="navbar-divider">
          <div class="navbar-item">
            <div>version <p class="has-text-info is-size-6-desktop">0.0.1</p></div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="navbar-end">
      <a class="navbar-item " href="https://github.com/lshamos/TheDrop">
        <img src='https://image.flaticon.com/icons/svg/25/25231.svg'/>
        <span id='nav-twitter'>Github</span>
      </a>
      <a class="navbar-item " href="https://twitter.com/hashtag/surfing?lang=en">
        <img src='http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Twitter-icon.png'/>
        <span id='nav-twitter'>Twitter</span>
      </a>
      <% if (loggedIn) { %>
          <a class='navbar-item' href='/profile'>
            Profile
          </a>
          <a class="navbar-item" href="/logout">
            Logout
          </a>
        <% } else { %>
          <a class="navbar-item" href="/login">
            Login
          </a>
          <a class="navbar-item" href="/signup">
            Signup
          </a>
        <% } %>
    </div>
  </div>
</nav>
<br><br>
